#!/usr/bin/make -f
# $Id: rules 218 2011-02-24 22:02:29Z robert $


binary binary-indep build build-indep clean:
	dh $@

binary-arch build-arch: # Nothing to do

override_dh_installdocs:
	dh_installdocs -X doc-base.debhelper.log -X doc-base.substvars -X doc-base

.PHONY: clean                                   \
	build-indep   build-arch   build        \
	binary-indep  binary-arch  binary

DEFAULT_GOAL := binary
